*.am linguist-detectable=false
*.ac linguist-detectable=false
*.in linguist-detectable=false
*.sh linguist-detectable=false
*.sc linguist-detectable=false
*.m4 linguist-detectable=false

compile linguist-detectable=false
config* linguist-detectable=false
install* linguist-detectable=false
depcomp* linguist-detectable=false
missing* linguist-detectable=false

*.out linguist-detectable=false
*.dat linguist-detectable=false



#sources
*.c text
*.cc text
*.cxx text
*.cpp text
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text

# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary
